.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #fff;
  border-radius: 8px;
  padding: 0rem 2rem;
}

.input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.7rem;
  margin-right: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #1e2531;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 0.5rem 1rem;
}

.searchBar .input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.searchBar button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input:focus {
  border-color: #1db954; /* Keep focus color for interactivity */
  box-shadow: 0 0 5px rgba(29, 185, 84, 0.5); /* Subtle glow effect */

  border-color: #50e3c2; /* Match the panel gradient */
  box-shadow: 0 0 8px #50e3c2; /* Glowing effect matches panel/button */

  border-color: #3b82f6; /* Use the lighter gradient color */
  box-shadow: 0 0 8px #3b82f6, /* Light blue glow */ 0 0 16px #1d4ed8; /* Dark blue glow */
  transition: box-shadow 0.3s ease-in-out;
}

.button {
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(to bottom, #1e3a8a, #2563eb);
}

.button i {
  font-size: 1.2rem; /* Icon slightly larger than text */
}

.button:hover {
  background-color: #1b5e8a; /* Darker blue for hover contrast */
  border: 2px solid #ffffff; /* Light border for focus */
}

.button:active {
  background-color: #163f63; /* Slightly darker blue */
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 700px) {
  .searchBar {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0rem 0rem;
    border-radius: 40px;
  }
  .form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .input {
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 767px) {
}
